{
  "presets": [
    "next/babel"
  ]
,
"env": {
  "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ],
    "presets": [
      [
        "next/babel",
        {
          "styled-jsx": {
            "babel-test": true
          }
        }
      ]
    ]
  }
}
}

