{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
     "jest": true
  },
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "plugin:jest/recommended",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended" // always at the end
  ],
  "plugins": [
    "jest",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }


}