@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
pre {
  font-family: inherit;
  white-space: initial;
}
.responsive-font,
body {
  font-size: 14px;
}
@media screen and (min-width: 650px) {
  .responsive-font,
  body {
    font-size: 16px;
  }
}
a {
  @apply text-green-300;
}
.custom-container {
  width: 100vw;
  min-height: calc(100vh - 60px);
}
.dark-filter::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.placeholder-end::placeholder {
  text-align: end;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.pie {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fcd34d;

  border-radius: 50%;
}
.pie::before {
  content: ' ';
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 125px;
  border-top-color: #10b981;
  border-left-color: #10b981;
  transform: rotate(315deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
  box-shadow: 1px 2px 1px 0.5;
}
.pie::after {
  content: '';
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 125px;
  border-top-color: #181717;
  border-left-color: #ef4444;
  transform: rotate(245deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.text-shadow {
  text-shadow: 1px 1px 0 #00000070;
}

.custom-radio-input:checked::after {
  position: absolute;
  content: ' ';
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #11a775;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.custom-radio-input::before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: 1;
  border-radius: 50%;
  background: #fff;
  border: 1.5px solid #059669;
  box-shadow: 1px 1px 2px 0px #00000021;
  cursor: pointer;
  transform: scale(0.95);
}
.custom-radio-input {
  position: relative;
  transform: scale(1.1);
}
.calculator-field-title {
  @apply text-lg sm:text-xl  font-semibold text-white mb-6 bg-green-300 p-4 px-6 sm:px-8  pb-5 rounded-lg capitalize border-green-400 border shadow-sm;
}
.calculator-field-container {
  @apply max-w-3xl  w-full mx-2;
}
.calculator-field-container:first-child {
  @apply mt-6;
}
.list-leyend {
  @apply text-gray-700;
}
.page-title {
  @apply text-center pb-8 pt-14 lg:pt-12  text-2xl sm:text-3xl lg:text-4xl px-2 font-bold text-green-700;
}
.line-input {
  @apply px-2 py-3 border-b-2 border-gray-300 placeholder-gray-400  leading-tight focus:outline-none focus:border-green-500 focus:border-opacity-50 appearance-none;
}
.modal-shape {
  @apply w-80  bg-white z-20 rounded-xl border border-gray-100 shadow-lg;
}
.btn-primary {
  @apply w-full bg-green-600 hover:bg-green-700 px-2  pt-1 pb-1.5 rounded font-semibold text-white shadow hover:shadow-lg focus:ring-2 focus:ring-green-500 focus:ring-opacity-50;
}
.btn-secondary {
  @apply w-full hover:bg-gray-100 px-2 pt-1 pb-1.5 text-gray-700 rounded font-semibold hover:text-white shadow hover:shadow-lg focus:ring-2 focus:ring-green-500 focus:ring-opacity-50;
}
.modal {
  @apply w-80 absolute transform -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 bg-white z-20 rounded-xl border border-gray-100 shadow-lg;
}
