@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.responsive-font {
  font-size: 14px;
}
@media screen and (min-width: 450px) {
  .responsive-font {
    font-size: 16px;
  }
}
.custom-container {
  width: 100vw;
  min-height: calc(100vh - 60px);
}
.dark-filter::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.placeholder-end::placeholder {
  text-align: end;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.pie {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fcd34d;

  border-radius: 50%;
}
.pie::before {
  content: ' ';
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 125px;
  border-top-color: #10b981;
  border-left-color: #10b981;
  transform: rotate(315deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
  box-shadow: 1px 2px 1px 0.5;
}
.pie::after {
  content: '';
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 125px;
  border-top-color: #181717;
  border-left-color: #ef4444;
  transform: rotate(245deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.text-shadow {
  text-shadow: 1px 1px 0 #00000070;
}

.custom-radio-input:checked::after {
  position: absolute;
  content: ' ';
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #11a775;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.custom-radio-input::before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: 1;
  border-radius: 50%;
  background: #fff;
  border: 1.5px solid #059669;
  box-shadow: 1px 1px 2px 0px #00000021;
  cursor: pointer;
}
.custom-radio-input {
  position: relative;
  transform: scale(1.1);
}
.calculator-field-title {
  @apply text-xl sm:text-2xl  font-semibold text-green-500 mb-6 bg-green-100 p-2 text-center shadow;
}
.calculator-field-container {
  @apply max-w-3xl  w-full;
}
.list-leyend {
  @apply text-gray-700 font-semibold;
}
